<h2 style="text-align:center;">Below are the greeted names</h2>
<div style="text-align:center;">
{{#each greeted}}
    <a href="/counter/{{@key}}" style="text-decoration:none;">
    <h2>{{@key}}</h2>
    </a>
{{/each}}
</div>