
<h2 style="text-align:center;">Below are the greeted names</h2>
<div style="text-align:center;">
{{#each allNames}}
    <a href="/counter/{{name}}" style="text-decoration:none;">
    <h2>{{name}}</h2>
    </a>
{{/each}}
</div>