<div class="greetings">
    <h2>Greeting App</h2>
    <form action="/greet" method="POST">
        <div class="textbox">
            {{#if messages.info}}
                <div class="name-validate" id="validate">
                    <h4> {{messages.info}} </h4>
                </div>          
            {{/if}}
            <input class="name-text" type="text" name="name" placeholder="Enter your name" value=""/>
            <span class="numberOfGreetings" name="count">Total of greeted names: {{count}}</span>
        </div>

        <h4>Select language:</h4>
        <div class="radioBtns">
            <input type="radio" name="language" id="radioButton" class="theRadioBtn" value="english">English
            <input type="radio" name="language" id="radioButton" class="theRadioBtn" value="zulu">IsiZulu
            <input type="radio" name="language" id="radioButton" class="theRadioBtn" value="pedi">Sepedi
        </div>
        <div class="buttons">
            <button class="greet" type="submit">Greet</button>
    </form>

    <form action="/clear" method="POST">
            <button class="reset" type="submit">Clear</button>
        </div>
    </form>

    <div class="greetedNames">
        <a href="/greeted"> Show greeted names </a>
    </div>

    <div class="theCounter">
        <a href="/counter"></a>
    </div>
    <div class="text-answer">
        <span class="answer" value="" type="span">{{theUser}}</span>
    </div>
</div>
