body{
    font-family: sans-serif;
    background-color: lightskyblue;
}
.name-validate{
    margin-top: -12%;
    margin-bottom: -4%;
    font-size: 20px;
    height: 50px;
    color: red;
}

.theRadioBtn1{
    margin-left: 15px;
}
.theRadioBtn2, .theRadioBtn3{
   margin-left: 70px;
}

label{
    margin-bottom: 25px;
}
.textbox{
    margin-bottom: 2px;
}

.greetedNames{
    margin-left: 100px;
    text-decoration: none;
}

.buttons{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
button:hover{
    color: black;
}
.theRadioBtn{
    padding: 5px;
}

a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
    transition: .5s ease;
}
a:hover{
    color: black;
}

h4{
    margin-bottom: 1px;
}
.greetings{
    width: 420px;
    margin: auto;
    margin-top: 80px;
    font-size: 20px;
    background-color: gray;
    margin-bottom: 30px;
    border-radius: 25px;
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    margin-top: 5px;
    color: white;
}
.greet{
    height: 50px;
    background-color: rgb(27, 119, 97);
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.reset{
    height: 50px;
    background-color: rgb(27, 119, 97);
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}
.name-text{
    height: 26px;
    padding: 5px 10px;
    border:  2px solid #2980B9;
    float: left;
    border-radius: 15px;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
} 
.answer{
    align-self: center;
    font-size: 25px;
    border: none;
    margin-left: 43%;
}
.numberOfGreetings{
    margin-left: 4px;
    font-size: 20px;
    margin-top: -3%;
}
